.bcolor {
background-color: aliceblue;

}

.tcolor {
    color: rgb(0, 88, 142);
}

.fontsize {
font-size: small;
}

.fstyle {
    font-family: 'Courier New', Courier, monospace;
}

a {
    position: relative;
}
